/* universal */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

/* Header */

.mainheader {
background-color:#BF4949;
background-position: center;
background-size: cover;
height: 200px;
display: flex;
justify-content: center;
align-items: center;
}

.mainheadertitle {
    color: white;
    display:flex;
    flex-direction: column;
}

.headerlinks {
padding: 20px;
}

.menubutton {
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    float: right;
}

/* Introduction */

.information {
    font-family:'Cormorant Garamond';
    margin: 20px;
    text-align: center;
}

/* Main page */

.recipes {
    text-align: center;
    margin: 30px;
}

/* Roast Chicken */

.roastchicken {
    border: 1px solid black;
    max-width: fit-content;
}

.rcheader {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.rcimage {
width: 400px;
padding: 30px;
display: flex;
align-content: center;
margin-left: auto;
margin-right: auto;
}

.rctable {
padding-bottom: 30px;
display: flex;
justify-content: center;
}

.line {
    height: 1px;
    background-color: gray;
}

.rcmethod {
    padding: 20px;
    display: flex;
    justify-content: center;
    text-decoration: underline;
}